{% extends "./base.html" %}
{% block title %}Login page{% endblock %}

{% block content %}

<div style="background-color: rgb(252, 252, 252, 0.5); margin-top: 30px;
            margin-bottom: 30px; min-height: 350px; border-radius: 50px;
            margin-left: auto; margin-right: auto; max-width: 45em;">
    
    <div style="height:20px"></div>
    <div style="text-align: center;">
        <h1 style="margin-bottom: 25px;">Deposit money</h1>
        <h6>Your balance {{owner.balance}} €</h6>
        <h6>Your account number: {{owner.account_number}}</h6>
    </div>
    
    <div style="text-align: center; margin-top: 25px;">    
        <form action="/deposit/{{owner.id}}/" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <input type="text" class="border border-dark shadow-lg form-control" placeholder="Amount" name="amount" style="width: 250px; height: 32px"/>
                <input type="hidden" name="user_id" value={{owner.id}}>
                <input type="submit" value="Deposit" class="shadow-lg btn btn-outline-dark btn-sm" style="margin-left: 5px"></input>
            </div>  
        </form>
        
    </div>
    <div style="text-align: center; margin-top: 25px;"> 
        <h6>{{request.session.message}}</h6>   
    </div>
</div>

{% endblock %}