<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Safe Bank</title>
        <p>Safest bank in the city</p>
    </head>

    <body>
        <p>Error: {{request.session.error}}</p>

        {% if request.session.user_id != None %}
        <form action="/main/{{request.session.user_id}}" method="GET">
            <input type="submit" value="Back">
        </form>
        {% else %}
        <form action="/" method="GET">
            <input type="submit" value="Back">
        </form>
        {% endif %}
    </body>

</html>