<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Safe Bank</title>
        <p>Safest bank in the city</p>
    </head>

    <body>
        <p>Login page</p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Your username" name="username">
            <input type="text" placeholder="Your password" name="password">
            <input type="submit" value="Login">
        </form>

    </body>

    </body>
</html>