{% extends "./base.html" %}
{% block title %}Login page{% endblock %}

{% block content %}

<div style="background-color: rgb(252, 252, 252, 0.5); margin-top: 30px;
            margin-bottom: 30px; min-height: 350px; border-radius: 50px;
            margin-left: auto; margin-right: auto; max-width: 45em;">
    <div style="text-align: center;">
        <h1 style="margin-bottom: 25px;">Welcome {{owner.username}}</h1>
        <h6>Your balance {{owner.balance}} € ({{request.session.user_id}})</h6>
        <h6>Your motto: {{owner.motto|safe}}</h6>

        <form method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <input type="text" class="border border-dark shadow-lg form-control" placeholder="Add your motto" name="motto" style="width: 300px;"/>
            </div>
            <div class="d-flex justify-content-center">   
                <input type="submit" value="Add" class="shadow-lg btn btn-outline-dark btn-lg" style="margin-top: 20px"></input>
            </div>     
        </form>
    </div>
</div>

{% endblock %}